.swiper {
    margin-top: 8%;
    /* width: 1000px ; */
    height: 300px;
}

body{
    background-color: #f3e6ff;
    font-family: 'Zen Antique', serif;
}

.bankHeading{
    text-align: center;
    margin-top: 5%;
}

#features{
    margin-top: 50%;
}