.swiper {
    margin-top: 8%;
    /* width: 1000px ; */
    height: 300px;
}

body{
    /* background-color: #f3e6ff; */
    font-family: 'Zen Antique', serif;
    min-height: 100vh;
    position: relative;
}

.bankHeading{
    text-align: center;
    margin-top: 5%;
}

#services-container{
    margin-top: 5%;
    background-color: #f0f0f5;
    display: flex;
    flex-direction: column;
    padding-top: 4%;
}

.service{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.service-heading{
    font-size: xxx-large;
}

#footer{
    margin-top: 5%;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width:950px){
    .service{
        flex-direction: column;
    }
}

.transfer-container{
    margin-top: 15%;
    text-align: center;
    background-color: #f0f0f5;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.grid-container{
    display: grid;
    grid-template-columns:70% 30%
}

.grid-item{
    margin-top: 1%;
    margin-bottom: 1%;
}